<%- include('../partials/header') %>

<% flight.destinations.forEach(function(destination) { %>

    <tr>
        <td><h3>Airport: <%= destination.airport %></h3></td>
        <td><h3>Arrival Time: <%= destination.arrival %></h3></td>

    </tr>
    <% }); %>


<tr>
    <td><%= flight.airline%></td>
    <td><%= flight.airport %></td>
    <td><%= flight.flightNo %></td>
    <td><%= flight.departs %></td>
</tr>
<form action='/flights/<%=flight._id%>/destinations' method="POST">
    <label><h4>Destination:</h4></label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <label><h4>Arrival:</h4</label>
    <input type="datetime-local" name="arrival">
        <input type="submit" value="Submit">

    







<%- include('../partials/footer') %>